<h1> Find out what kind of triangle your sides are! </h1>

<form action = "/tri">
  <div class = "form-group">
    <label for = "side1"> Length of your 1st side</label>
    <input id = "side1" name = "side1" class = "form-control" type = "text">
  </div>
  <div class = "form-group">
    <label for = "side2"> Length of your 2nd side</label>
    <input id = "side2" name = "side2" class = "form-control" type = "text">
  </div>
  <div class = "form-group">
    <label for = "side3"> Length of your 3rd side </label>
    <input id = "side3" name = "side3" class = "form-control" type = "text">
  </div>
  <button type = "submit" class = "btn">Find out!</button>
</form>
